html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Welcome
    body
    p="Este es tu token de vericación del correo"
    h2=`${token}`